/** @format */

@tailwind base; /* Importerer Tailwinds basisstilarter, som nulstiller og standardiserer styling på tværs af browsere */
@tailwind components; /* Importerer Tailwinds komponentstilarter, som inkluderer foruddefinerede klasser til almindelige UI-komponenter */
@tailwind utilities; /* Importerer Tailwinds utility-stilarter, som giver en række nyttige klasser til styling af elementer */


/* IMPORT AF LOKALE FONTE */
@font-face {
    font-family: 'Baileys';
    src: local('Baileys'), url('./fonts/Baileys-drizzle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque'), url('./fonts/Brandon-grotesque.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* BRUG AF DE FORSKELLIGE FONTE */ 
body{
    font-family: 'Brandon Grotesque', sans-serif;
}

.font-body {
    font-family: 'Brandon Grotesque', sans-serif;
}

.font-sans {
    font-family: 'Baileys', sans-serif;
}
